<!doctype html>
<html>
<head>
<title>Your Profile</title>
<style type="text/css">
.grayhound {
	background-color: #CCC;
}
body {
	font-family: Ubuntu, Futura, sans-serif;
}
.box_cyan {
	background-color: #cdf;
	border: 2px #00F;
	color: #000;
	margin: 8px;
    padding: 8px 4px;
}
.box_jade {
	background-color: #cfd;
	border: 2px #0F0;
	color: #000;
	margin: 8px;
    padding: 8px 4px;
}
.name {
  font-size: 12vw;
}
@media only screen and (max-width: 600px) {
  .name {
    font-size: 100;
  }
}
</style>
</head>
<body>

<table width="100%" border="0" class="grayhound">
  <tr>
    <td style="text-align: center"><a href="index.htm"><</a></td>
    <td style="text-align: center"><strong>APCYS 2018</strong></td>
    <td style="text-align: center"><a href="404.htm">Edit</a></td>
  </tr>
</table>

<div class='m-5'>
  <h2 class='name'> Tamara Lynn </h2>
  <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=123694" />
  <p><em> Hogwarts, ENG </em></p>
  <div class="box_cyan">
    <p>Faction: <strong>Cool Chemists</strong></p>
    <p>Excursion: <strong>Wangchan Botanics</strong></p>
    <p>Residence: <strong>B3</strong></p>
    <P>Buddies:<ul>
        <li>Barry Korolev</li>
        <li>Harry Smith</li>
    </ul>
  </div>
  <div class="box_jade">
    <p>Project: <strong><a href="https://apcys.kvis.ac.th/papers/dl.php?id=1245">Spatially explaining quantum behaviour of covalent bonds</a></strong> <br />
    Presents at 203</p>
  </div>
</div>

</body></html>
