.grayhound {
	background-color: #CCC;
}
body {
	font-family: Ubuntu, Futura, sans-serif;
}
.box {
	color: #000;
	margin-top: 8px;
    padding: 8px;
}
.box_cyan {
	background-color: #cdf;
	border: 2px #00F;
}
.box_jade {
	background-color: #cfd;
	border: 2px #0F0;
}
.heading {
	font-size: 12vw;
}