{% extends "base.html" %}

{% block navleft %}
  <a class='navblock' href="/main"><img src="{{url_for('static', filename='back.png')}}"></a>
{% endblock %}

{% block navcen %}
  <p class='navblock'>Announcements</p>
{% endblock %}

{% block bodyclass %} loginbg {% endblock %}

{% block body %}
        <div id = "nln">
            <div id = addon>
                <div id=box>
                    <a id="k" href="javascript:dropdown();">open</a>
                </div>
             <div id="cover" class="cover"> 
                    <div id=box2></div>
                    <table class ="tbls tblsel" >
                        
                    {% for anc in ancs %}
                        <tr>
                            <td>
                                <a href="announcement\{{anc[0]}}" target = "main" onclick='dropdown();'>
                                    <button class='announcebtn'>{{anc[1]}}</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>
            <div id="main" class="main">
                <iframe name ="main"></iframe>
            </div>
        </div>
        <script>
                
            function dropdown(){
                    if($('#k').css('display') == 'block')
                    {
                     if ($('#cover').css('display') == 'block') {
                        $("#cover").css("display", "none");
                        document.getElementById("k").innerHTML="open";
                     } else {
                        $("#cover").css("display", "block");
                        document.getElementById("k").innerHTML="close";
                     }
                    }
                    else
                    {
                        $("#cover").css("display", "block");
                    }
                }
                
        </script> 
{% endblock %}