{% extends "base.html" %}


{% block body %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="w-25 order-first">
       <a href="/main">Back</a>
    </div>
    <div class="w-50 mx-auto container-fluid">
      <span class="navbar-brand mx-auto">APCYS - KVIS</span>
    </div>
    <div class="w-25 order-last">
    </div>
  </nav>

  <h2 class="heading"> {{data['firstn']}} {{data['lastn']}}</h2>
  <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{-qrcode}}" />
  <p><em> {{data['school']}}, {{data['country']}} </em></p>
  <div class="box box_cyan">
    <p>Sci Act: <strong>Group {{data['sciact']}}</strong></p>
    <p>Excursion: <strong>Route {{data['xcurs']}}</strong></p>
    <p>Residence: <strong>{{data['residence']}}</strong></p>
    <p>Buddies:<ul>
  	    {% for bud in data['buddies'] %}
  	    <li>{{bud}}</li>
        {% endfor %}
    </ul>
    </p>
  </div>
  <div class="box box_jade">
    <p>
    	Project: <strong><a href="#">{{data['project']}}</a></strong> <br />
   		Presents at {{data['room']}}
   		 <br />
   		Time : {{data['time']}}
   	</p>
  </div>
</body>
{% endblock %}
