{% extends "base.html" %}

{% block nav %}{% endblock %}
{% block bodyclass %}loginbg{% endblock %}

{% block body %}
	<div class='m-3'>
	  <h1 class='fullheading'> Terms and Conditions </h1>
	  <p class='termstext'>
	 	I hereby give the organizing committee my consent to publish any photos of me for any purpose and in any form.
	  </p>
	  <div class='bottom'>
		  <form method='POST' class='loginform'>
			<input class='formctrl' type="text" name='name' placeholder="{{name}}" value='{{name}}'>
		  	<input class='formsm' type="submit" value="accept">
		  </form>
		  <p class='termstext'>
		  	check and correct your name<br>
		  	This can only be done once
		  </p>
	</div>
	</div>
{% endblock %}