{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block body %}
  <h1> Terms go here</h1>
 <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolores ad praesentium vero porro sed, eveniet dolorem animi id voluptatum iusto obcaecati, eaque unde consectetur. Dolore quod eligendi earum numquam.
  </p>
  <h1> You can edit your name *** only once!!! *** </h1>
  <form method='POST'>
	name : <input type="text" name='name' placeholder="{{name}}" value='{{name}}'>
  	<input type="submit" value="accept">
  </form>
{% endblock %}